@using Microsoft.AspNet.Identity
@model WebApplication1.Models.ManageUserViewModel

<p>You're logged in as <strong>@User.Identity.GetUserName()</strong></p>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4 class="formLabel">Change Password</h4>
    <hr />
    @Html.ValidationSummary()
    <div class="formContainer">
        <div class="well well-sm" id="regWell">
            <div class="form-group">
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Current Password" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "New Password" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm New Password" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10" id="registerButtonCol">
                    <input type="submit" value="Change password" class="btn btn-default" id="registerButton" />
                </div>
            </div>
        </div>
    </div>
}
