@using Microsoft.AspNet.Identity;
@using WebApplication1.Models
@{
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}

<div>
    <div class="mainContainer">
        <div style="width: 50px; float: left;"></div>
        <div style="width: 50px; float: right;"></div>
        <div style="margin-left: 50px; margin-right: 50px;">
            <p class="pageTitle">Your Stories</p>
            @if (ViewBag.Posts.Count > 0)
            {
                for (int i = 0; i < ViewBag.Posts.Count; i++)
                {
                    <div class="post">
                        <div class="postHead">
                            <img class="postImage" src="@ViewBag.ImageMap[ViewBag.Users[i]]" />
                            <p class="postName">
                                <a class="postLink" href=@Url.Action("UserPage", "Home", new { userName = ViewBag.Users[i].UserName })>
                                    @ViewBag.Users[i].FirstName
                                    @ViewBag.Users[i].LastName
                                </a>
                            </p>
                            <p title="@ViewBag.Posts[i].DateTime" class="postDate">@Util.TimeAgo(ViewBag.Posts[i].DateTime)</p>
                            <hr class="postHR" />
                        </div>
                        <div class="postBody">
                            @ViewBag.Posts[i].PostContent
                        </div>
                        <div class="postFooter">
                            <hr class="footerHR" />
                            <div class="LikeSwitcher" data-post="@ViewBag.Posts[i].ID" data-like="@(ViewBag.LikesTable.ContainsKey(ViewBag.Posts[i].ID) ? ViewBag.LikesTable[ViewBag.Posts[i].ID].Status : null)">
                                <a class="Liked" href=""><i id="thumbsUp" class="glyphicon glyphicon-thumbs-up"></i></a>
                                <a class="Disliked" href=""><i id="thumbsDown" class="glyphicon glyphicon-thumbs-down"></i></a>
                            </div>
                            <div class="likes">
                                @ViewBag.numOfLikes[i]
                            </div>
                            @if (ViewBag.Posts[i].PostFile != null)
                            {
                                <a href="#" data-toggle="modal" data-target="#ViewPictureModal" data-picture-id="@ViewBag.PostPictureMap[ViewBag.Posts[i]]"><i id="postFile" style="color: black;" class="glyphicon glyphicon-paperclip"></i></a>
                            }
                            else
                            {
                                <a href=""><i id="postFile" style="color: lightgray; pointer-events: none; cursor: default;" class="glyphicon glyphicon-paperclip"></i></a>
                            }
                            <a href="#" data-toggle="modal" data-target="#EditPostModal" class="editPost" data-url="@Url.Action("Edit", "Posts", new { id = ViewBag.Posts[i].ID })"><i id="postFile" style="color: black;" class="glyphicon glyphicon-option-vertical"></i></a>
                            <a href="#" data-toggle="modal" data-target="#DeletePostModal" class="deletePost" data-url="@Url.Action("Delete", "Posts", new { id = ViewBag.Posts[i].ID })"><i id="postFile" style="color: black;" class="glyphicon glyphicon-trash"></i></a>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="post">
                    <p class="noPosts">You have no Stories</p>
                </div>
            }
        </div>
    </div>

</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="ViewPictureModal">
    <div class="modal-dialog modal-lg">
        <div id="newStoryModal" class="modal-content">
            <img id="postPicture" class="picture" src="" />
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="EditPostModal">
    <div class="modal-dialog modal-md">
        <div id="" class="modal-content">
            <h3 style="color: rgb(88, 78, 127);">Edit Story</h3>
            <hr />
            <div id="editPostModal" class="editpost">
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="DeletePostModal">
    <div class="modal-dialog modal-md">
        <div id="deletePostModal" class="modal-content">
        </div>
    </div>
</div>
