
@{
    ViewBag.Title = "UserPage";
    Layout = "~/Views/Shared/_LoggedLayout.cshtml";
}


<div>
    <div class="mainContainer">
        <div style="width: 50px; float: left;"></div>
        <div style="width: 50px; float: right;"></div>
        <div style="margin-left: 50px; margin-right: 50px;">

            <p class="pageTitle">@((ViewBag.userFirstName as string).Trim())'s Stories</p>

            <div class="post">
                <div class="postHead">
                    <img class="postImage" src="~/Content/Images/JohnDoe.png" />
                    <p class="postName">
                        <a class="postLink" href="">
                            John Doe
                        </a>
                    </p>
                    <p class="postDate">@DateTime.Now</p>
                    <hr class="postHR" />
                </div>
            </div>

            <div class="post">
                <div class="postHead">
                    <img class="postImage" src="~/Content/Images/JohnDoe.png" />
                    <p class="postName">
                        <a class="postLink" href="">
                            Tom Sawyer
                        </a>
                    </p>
                    <p class="postDate">@DateTime.Now</p>
                    <hr class="postHR" />
                </div>
            </div>
            <div class="post">
                <div class="postHead">
                    <img class="postImage" src="~/Content/Images/JohnDoe.png" />
                    <p class="postName">
                        <a class="postLink" href="">
                            Jane Doe
                        </a>
                    </p>
                    <p class="postDate">@DateTime.Now</p>
                    <hr class="postHR" />
                </div>
            </div>


        </div>
        <div class="row profile hidden-xs">
            <div class="col-md-3" id="friendPage">
                <div class="profile-sidebar">
                    <!-- SIDEBAR USERPIC -->
                    <div class="profile-userpic">
                        <img src="@ViewBag.userImage" style="width:150px; height: 150px;"
                             class="img-responsive" alt="" />
                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            @ViewBag.userFirstName
                            @ViewBag.userLastName
                        </div>
                        <!--<div class="profile-usertitle-job">
                            Developer
                        </div>-->
                    </div>
                    <!-- END SIDEBAR USER TITLE -->
                    <div class="profile-userbuttons">
                        @if (!ViewBag.isFriend) 
                        {
                             using (Html.BeginForm("AddFriend", "Home", FormMethod.Post))
                             { 
                                 <button name="friendUserName" value="@ViewBag.UserName" id="friendshipBtn" type="submit" class="btn btn-success btn-md">Start Friendship</button>
                             }
                        }
                        else
                        {
                            <p style="color: rgb(177, 156, 254); ">Friends</p>
                            using (Html.BeginForm("RemoveFriend", "Home", FormMethod.Post))
                             { 
                                 <button name="friendUserName" value="@ViewBag.UserName" id="friendshipBtn" type="submit" class="btn btn-success btn-md">End Friendship</button>
                             }
                        }
                    </div>
                    <!-- SIDEBAR MENU -->
                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li>
                                <a class="btn showdetails" data-toggle="collapse" data-target="#viewUserFriends">
                                    <i class="glyphicon glyphicon-user"></i>
                                    Friendships&nbsp;&nbsp;&nbsp;&nbsp;@ViewBag.Friends.Count
                                </a>
                                <p class="collapse" id="viewUserFriends" style="color: black;">
                                    @foreach (var friend in ViewBag.Friends)
                                    {
                                        <a class="friendLink" href="@Url.Action("UserPage", "Home", new { userName = friend.UserName })">
                                        @((friend.FirstName as string).Trim())
                                        @(" ")
                                        @((friend.LastName as string).Trim())
                                        </a>
                                        <br />
                                    }
                                </p>
                            </li>
                            <li>
                                <a class="btn showdetails" data-toggle="collapse" data-target="#viewUserInterests">
                                    <i class="glyphicon glyphicon-list"></i>
                                    Interests
                                </a>
                                <p class="collapse" id="viewUserInterests" style="color: black;">
                                    @{
                                        for (int i = 0; i < ViewBag.userInterests.Length; i++)
                                        {
                                            @ViewBag.userInterests[i]
                                            <br />
                                        }}
                                </p>
                            </li>
                        </ul>
                    </div>
                    <!-- END MENU -->
                </div>
            </div>
        </div>

    </div>



</div>
